.btn {
	padding: 5px 20px;
}

.btn-green {
	width: 135px;
	color: white;
	box-shadow: none;
	font-weight: bold;
	padding: 9px 18px;
	border-radius: 3px;
	border: 0px solid #5cb85c;
	background-color: #5cb85c;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-green:hover {
	color: #5cb85c;
	background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #5cb85c;
}

.btn-red {
	width: 135px;
	color: white;
	box-shadow: none;
	font-weight: bold;
	padding: 9px 18px;
	border-radius: 3px;
	border: 0px solid #E74C3C;
	background-color: rgb(233, 91, 75);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-red:hover {
	color: #E74C3C;
	background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #E74C3C;
}

.card {
	border: 1px solid #88888873;
	transition: 0.3s;
}

.card:hover {
	z-index: 1;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}