[submodule "global/vendor/bootstrap"]
	path = global/vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "global/vendor/jquery"]
	path = global/vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "global/vendor/bootstrap-treeview"]
	path = global/vendor/bootstrap-treeview
	url = https://github.com/jonmiles/bootstrap-treeview.git
[submodule "global/vendor/PHPMailer"]
	path = global/vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
