.btn {
    border-radius: 0px;
}

#imgCarousel {
}

#bid-amount {
    text-align: right;
}

#title {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10px;
}

#amount-label {
    display: inline-block;
    background-color: #a53a41;
    padding: 10px;
    color: white;
}

#amount {
    display: inline-block;
    border: 1px solid #a53a41;
    padding: 9px;
}

#bid-sect-toggler {
    border-radius: 0px;
    height: 40px;
}

#description {
    margin-top: 20px;
}

#bid-instruction {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

#description::before { content: "DESCRIPTION"; }
#details::before { content: "DETAILS"; }
#history::before { content: "BID HISTORY" }

#description::before,
#details::before,
#history::before {
    display: block;
}

::before { color: #777777; }

.timeline-card {
    padding-left: 10px;
    padding-right: 10px;
}

.start-sprite,
.connector-sprite,
.end-sprite {
    background-repeat: no-repeat;
    background-size: cover;
    width: 36.67px;
    height: 36.67px;
}

.start-sprite { background-image: url("http://localhost/augeo/item/view/img/sprite_0.png"); }
.connector-sprite { background-image: url("http://localhost/augeo/item/view/img/sprite_1.png"); }
.end-sprite { background-image: url("http://localhost/augeo/item/view/img/sprite_2.png"); }

.bidder::before {
    content: "bid by ";
}

.bid-amount::after {
    content: "\2014";
}

.bid-date {
    text-align: right;
}