#tree a { text-decoration: none; }
.row { padding: 10px; }
.text-caption { user-select: none; }
.text-caption::after { content: ": "; }
.no-padding { padding: 0px; }
.border-right { border-right: 1px solid #aaa; }

.card-item {
	outline: 1px solid #888888;
	transition-duration: 0.3s;
}

.card-item:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

@media only screen and (max-width: 768px) {
	.border-right {
		border-right: none;
		padding-bottom: 20px;
	}
}