.navbar { margin: 0px; padding: 0px; }
#side-panel.contract { right: -300px; }
.radio-inline { margin: 5px 0px 5px 0px; }

#browse-options {
    padding: 10px;
    line-height: 40px;
}

#browse-options > div {
    white-space: nowrap;
    display: inline;
    padding: 0px 5px;
    vertical-align: middle;

}

#browse-items {
    padding: 7px;
}

select {
    padding: 5px;
}

.grid-sizer,
.grid-item {
    width: 25%;
    /* border: 5px solid black; */
}

.grid-item {
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.item-details { padding: 10px; }

.item-description.overflow::after { content: "..."; }

.highest-bid::before {
    content: "Highest bid: ";
    font-weight: bold;
}

.initial-price::before {
    content: "Initial price: ";
    font-weight: bold;
}

.tag-list { line-height: 180%; }

.tag-list::before {
    content: "Tags:";
    font-weight: bold;
    margin-right: 5px;
}

.tag-list > a {
    background-color: #4286f4;
    color: white;
    padding: 0px 5px;
    display: inline-block;
    margin: 2.5px;
    transition: background-color 0.3s;
}

.tag-list > a:hover {
    text-decoration: none;
    background-color: #699ef5;
}

@media only screen and (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

@media only screen and (max-width: 620px) {
    .grid-sizer,
    .grid-item {
        width: 48.5%;
    }
}

@media only screen and (max-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 95.5%;
    }
}

@media only screen and (max-width: 330px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}