#left-side, #right-side {
    position: absolute;
    top: 51.33px;
    bottom: 0px;
    padding: 15px;
    /* overflow-y: auto; */
}

#left-side {
    left: 0px;
    right: 30%;
    padding-right: 7.5px;
}

#right-side {
    right: 0px;
    left: 70%;
    padding-left: 7.5px;
}

label.control-label.col-sm-1,
.no-lr-padding {
    padding-left: 0px;
    padding-right: 0px;
}

label.control-label.col-sm-1 > .glyphicon {
    padding-right: 10px;
}

#description {
    min-width: 100%;
    max-width: 100%;
    min-height: 371px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
}

.switch input { display: none; }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}

label[for="advanced-editor-mode"] {
    padding-right: 10px;
}

#img-section {
    margin: 10px;
    position: relative;
}

#item-img {
    width: 128.4px;
    height: 32px;
    position: absolute;
    top: 0px;
    opacity: 0;
    z-index: -1;
}

.img-object {
    display: inline-block;
    position: relative;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.img-object > img {
    width: 200px;
    height: auto;
    transition: 0.2s;
}

.options-bar-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    overflow: hidden;
}

.options-bar-wrapper > .option-bar {
    position: relative;
    top: -50px;
    height: 30px;
    width: 100%;
    border: none;
    color: #cccccc;
    background-color: rgba(31, 31, 31, 0.705);
    transition: 0.3s;
    text-align: center;
    z-index: 1;
}

.img-object:hover .options-bar-wrapper > .option-bar {
    top: 0px;
}

.option-bar:hover {
    background-color: rgb(49, 49, 49);
}

input[name=initial-price], input[name=bid-interval] {
    text-align: right;
}

#additional-rules .panel-heading:hover {
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.2s;
}

#additional-rules .panel-footer {
    padding-top: 5px;
}

.note {
    color: #999999;
    padding-top: 5px;
    user-select: none;
}

.loading-icon {
    height: 15px;
    width: 15px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    border: 3px solid #dddddd;
    border-top: 3px solid #3498db;
    background-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

span.label {
    color: #777777;
    font-weight: lighter;
    padding-right: 10px;
}

span.label::before { content: "@"; }

#blocked-bidders {
    width: 100%;
}

.user-row {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.name, .username {
    display: inline-block;
    /* padding: 8px 0px; */
}

.user-row > .username::before { content: "@"; }
.user-row > .username::before, .user-row > .username::after { font-style: normal; }
.user-row > .username {
    font-style: italic;
    padding-left: 0px;
    color: #777777;
}

.remove-icon {
    position: absolute;
    right: 0px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.user-row:hover .remove-icon {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 922px) {
    #left-side {
        right: 40%;
    }
    #right-side {
        left: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #left-side, #right-side {
        position: static;
        padding-left: 15px;
        padding-right: 15px;
    }
}