#left-side, #right-side {
    position: absolute;
    top: 51.33px;
    bottom: 0px;
    padding: 15px;
    /* overflow-y: auto; */
}

#left-side {
    left: 0px;
    right: 30%;
    padding-right: 7.5px;
}

#right-side {
    right: 0px;
    left: 70%;
    padding-left: 7.5px;
}

label.control-label.col-sm-1,
.no-lr-padding {
    padding-left: 0px;
    padding-right: 0px;
}

label.control-label.col-sm-1 > .glyphicon {
    padding-right: 10px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

#img-section {
    margin: 10px;
    position: relative;
}

#item-img {
    width: 128.4px;
    height: 32px;
    position: absolute;
    top: 0px;
    opacity: 0;
    z-index: -1;
}

.img-object {
    display: inline-block;
    position: relative;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.img-object > img {
    width: 200px;
    height: auto;
    transition: 0.2s;
}

.options-bar-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    overflow: hidden;
}

.options-bar-wrapper > .option-bar {
    position: relative;
    top: -50px;
    height: 30px;
    width: 100%;
    border: none;
    color: #cccccc;
    background-color: rgba(31, 31, 31, 0.705);
    transition: 0.3s;
    text-align: center;
    z-index: 1;
}

.img-object:hover .options-bar-wrapper > .option-bar {
    top: 0px;
}

.option-bar:hover {
    background-color: rgb(49, 49, 49);
}

input[name=initial-price], input[name=bid-interval] {
    text-align: right;
}

#additional-rules .panel-heading:hover {
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.2s;
}

.note {
    color: #999999;
    padding-top: 5px;
    user-select: none;
}

@media only screen and (max-width: 922px) {
    #left-side {
        right: 40%;
    }
    #right-side {
        left: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #left-side, #right-side {
        position: static;
        padding-left: 15px;
        padding-right: 15px;
    }
}