#tree { user-select: none; }
#tree a { text-decoration: none; }

#items > a:hover {
    text-decoration: none;
    color: initial;
}

.row { padding: 10px; }
.no-padding { padding: 0px; }
.border-right { border-right: 1px solid #aaa; }
.item-img { width: 60px; }
.item-seller::before { content: "Seller: "; }

.bidders-participated::before { content: "Number of bids: "; }

.view-count::before { content: "Views: "; }

.your-bid::before {
	display: block;
	content: "Your bid: ";
}

.highest-bid::before {
	display: block;
	content: "Highest bid:"
}

.vertical-align {
	display: flex !important;
	align-items: center !important;
}

.card-item {
	display: block;
	color: black;
	border: 1px solid #c6c6c6;
    transition-duration: 0.3s;
}

.card-item:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.vcenter-children {
    display: flex;
    align-items: center;
}

.options > button, .options > a {
    margin: 5px;
    width: 100%;
}

div.no-higher-bidder-icon {
    background: url('http://localhost/augeo/global/img/happy-sun.png');
    width: 60px;
    height: 60px;
    margin: 0px auto 5px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.no-bids-icon {
    background: url('http://localhost/augeo/global/img/google-plus-jingle.gif');
    width: 60px;
    height: 60px;
    margin: 0px auto 5px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

span.no-higher-bidder-msg,
span.no-bids-msg {
    text-align: center;
    color: #777777;
}

#empty-result {
    margin-top: 80px;
}

#empty-result > * {
    display: block;
    text-align: center;
}

#empty-result > img {
    margin: 0px auto;
}

@media only screen and (max-width: 768px) {
	.border-right {
		border-right: none;
		padding-bottom: 20px;
	}
}

#pagination div { display: inline-block; margin-right: 5px; margin-top: 5px }
#pagination .cell a { border-radius: 3px; font-size: 11px; color: #333; padding: 8px; text-decoration:none; border: 1px solid #d3d3d3; background-color: #f8f8f8; }
#pagination .cell a:hover { border: 1px solid #c6c6c6; background-color: #f0f0f0;  }
#pagination .cell_active span { border-radius: 3px; font-size: 11px; color: #333; padding: 8px; border: 1px solid #c6c6c6; background-color: #e9e9e9; }
#pagination .cell_disabled span { border-radius: 3px; font-size: 11px; color: #777777; padding: 8px; border: 1px solid #dddddd; background-color: #ffffff; }

 .notif-img img {
    height: 40px;
}

.notif-img {
    margin: 5px;
}

.notif-content {
    margin: 10px 10px 10px 0px;
    padding: 10px;
    color: #eee;
    max-width: 300px;
}

.notif {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #222;
    border-radius: 3px;
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.show-notif {
    -webkit-animation: 5s show-notif;
    -moz-animation: 5s show-notif;
    animation: 5s show-notif;
}

@-webkit-keyframes show-notif {
    0% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
    10%, 95% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
}

@-moz-keyframes show-notif {
    0% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
    5%, 95% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
}

@keyframes show-notif {
    0% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
    10%, 95% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        right: 0px;
        visibility: hidden;
    }
}